---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Credits from '../components/Credits.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout title="Joel Summers | Audio Designer">
  <Header />
  <main>
    <Hero />
    <About />
    <Projects />
    <Credits />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
